In [335]:
# Import Library
import pandas
# Import Data
data = pandas.read_csv("data.csv")
data

,nama,pengalamankerja,usia,nilaites1,nilaites2,hasilevaluasi
0,Evan Iwanicki,18,47,63,78,DIPERTIMBANGKAN
1,Herta Welfair,2,53,89,87,DIPERTIMBANGKAN
2,Roshelle Danbury,22,53,70,82,DIPERTIMBANGKAN
3,Husein Calow,30,45,79,91,DITERIMA
4,Tye Townson,27,38,95,56,DITERIMA
...,...,...,...,...,...,...
995,Sansone Hansel,25,30,46,69,DITOLAK
996,Michel Shillington,21,49,79,53,DITOLAK
997,Crissy Canizares,22,35,59,52,DITERIMA
998,Terrie Boylan,19,49,48,77,DITERIMA
999,Jada Ryhorovich,9,27,48,46,DIPERTIMBANGKAN

In [336]:
# Klasifikasi pengalaman Kerja Function
def getClassifyPengalamanKerja(data_PengalamanKerja):
    dataClassifyPengalamanKerja = []
    Diterima = 0
    Dipertimbangkan = 0
    Ditolak = 0
    i = 0
    for pengalaman in data_PengalamanKerja:
        if pengalaman <= 10:
            Diterima += 1
            dataClassifyPengalamanKerja.append("Junior")
            i+=1
        if pengalaman > 10 and pengalaman <= 20:
            Dipertimbangkan += 1
            dataClassifyPengalamanKerja.append("Supervisor")
            i+=1
        if pengalaman >= 21 and pengalaman <= 30:
            Ditolak += 1
            dataClassifyPengalamanKerja.append("Senior")
            i+=1
    return dataClassifyPengalamanKerja

In [337]:
# Klasifikasi Usia Function
def getClassifyUsia(data_usia):
    dataClassifyUsia =  []
    Tua = 0
    Parubaya = 0
    Muda = 0
    i = 0
    for usia in data_usia:
        if usia >= 46 and usia <= 55:
            Tua += 1
            dataClassifyUsia.append("Tua")
            i+=1
        if usia >= 36 and usia <= 45:
            Parubaya += 1
            dataClassifyUsia.append("Paruhbaya")
            i+=1
        if usia >= 25 and usia <= 35:
            Muda += 1
            dataClassifyUsia.append("Muda")
            i+=1
    return dataClassifyUsia
# getClassifyUsia()

In [338]:
# Klasifikasi Nilai Pelatihan Function
def getClassifyNilaiTes1(data_nilaites1):
    dataClassifyNilaiTes1 = []
    sangat_baik = 0
    baik = 0
    kurang = 0
    for nilaites1 in data_nilaites1:
        if nilaites1 >=81 and nilaites1 <= 100:
            sangat_baik += 1
            dataClassifyNilaiTes1.append("Sangat Baik")
        if nilaites1 >= 66 and nilaites1 <= 80:
            baik += 1
            dataClassifyNilaiTes1.append("Baik")
        if  nilaites1 >= 45 and nilaites1 <= 65:
            kurang += 1
            dataClassifyNilaiTes1.append("Kurang")
    return dataClassifyNilaiTes1

In [339]:
# Klasifikasi Nilai Kinerja Function
def getClassifyNilaiTes2(data_nilaites2):
    dataClassifyNilaiTes2 = []
    sangat_baik = 0
    baik = 0
    kurang = 0
    for nilaites2 in data_nilaites2:
        if nilaites2 >=81 and nilaites2 <= 100:
            sangat_baik += 1
            dataClassifyNilaiTes2.append("Sangat Baik")
        if nilaites2 >= 66 and nilaites2 <= 80:
            baik += 1
            dataClassifyNilaiTes2.append("Baik")
        if  nilaites2 >= 45 and nilaites2 <= 65:
            kurang += 1
            dataClassifyNilaiTes2.append("Kurang")
    return dataClassifyNilaiTes2

In [340]:
# Inisiasi Tabel Hasil Klasifikasi
PengalamanKerja = getClassifyPengalamanKerja(data['pengalamankerja'])
Usia = getClassifyUsia(data['usia'])
NilaiTes1 = getClassifyNilaiTes1(data['nilaites1'])
NilaiTes2 = getClassifyNilaiTes2(data['nilaites2'])
dataAfterClassify = pandas.DataFrame({  'Nama': data['nama'],
                                        'PengalamanKerja': PengalamanKerja,
                                        'Usia': Usia,
                                        'NilaiTes1': NilaiTes1,
                                        'NilaiTes2': NilaiTes2,
                                        'HasilEvaluasi': data['hasilevaluasi']
                                    })
dataAfterClassify

,Nama,PengalamanKerja,Usia,NilaiTes1,NilaiTes2,HasilEvaluasi
0,Evan Iwanicki,Supervisor,Tua,Kurang,Baik,DIPERTIMBANGKAN
1,Herta Welfair,Junior,Tua,Sangat Baik,Sangat Baik,DIPERTIMBANGKAN
2,Roshelle Danbury,Senior,Tua,Baik,Sangat Baik,DIPERTIMBANGKAN
3,Husein Calow,Senior,Paruhbaya,Baik,Sangat Baik,DITERIMA
4,Tye Townson,Senior,Paruhbaya,Sangat Baik,Kurang,DITERIMA
...,...,...,...,...,...,...
995,Sansone Hansel,Senior,Muda,Kurang,Baik,DITOLAK
996,Michel Shillington,Senior,Tua,Baik,Kurang,DITOLAK
997,Crissy Canizares,Senior,Muda,Kurang,Kurang,DITERIMA
998,Terrie Boylan,Supervisor,Tua,Kurang,Baik,DITERIMA
999,Jada Ryhorovich,Junior,Muda,Kurang,Kurang,DIPERTIMBANGKAN

In [341]:
# Mencari total Setiap Kelas
Total_DITERIMA = 0
Total_DIPERTIMBANGKAN = 0
Total_DITOLAK = 0
for lists in dataAfterClassify['HasilEvaluasi'] :
    if lists == "DITERIMA":
        Total_DITERIMA +=1
    if lists == "DIPERTIMBANGKAN":
        Total_DIPERTIMBANGKAN +=1
    if lists == "DITOLAK":
        Total_DITOLAK +=1
print(Total_DIPERTIMBANGKAN)

348

In [342]:
# Mencari Total Data
Total_Data = Total_DITERIMA + Total_DIPERTIMBANGKAN + Total_DITOLAK
Total_Data

1000

In [343]:
# Ciri Tiap Kelas FUNCTION
def CiriperKelas(ciri, kelas, valueciri, valuekelas):
    i = 0
    result = 0
    for x in ciri:
        if ciri[i] == valueciri and kelas[i] == valuekelas:
            result = result + 1
        i = i + 1
    return result

In [290]:
# Probability Function (PH - PX)
def Prob(value):
    Prob = float("{:.8f}".format(value / Total_Data))
    return Prob

In [291]:
# Cari P(X|H) Function
def PXH(cirikelas, totalkelas):
    pxh = cirikelas / totalkelas
    return pxh

In [292]:
# Mencari PH Setiap Kelas
PH_DITERIMA = Prob(Total_DITERIMA)
PH_DIPERTIMBANGKAN = Prob(Total_DIPERTIMBANGKAN)
PH_DITOLAK = Prob(Total_DITOLAK)

In [293]:
# Mencari Ciri Junior Per Kelas
Junior_DITERIMA = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Junior", "DITERIMA")
Junior_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Junior", "DIPERTIMBANGKAN")
Junior_DITOLAK = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Junior", "DITOLAK")
TotalCiri_Junior = Junior_DITERIMA + Junior_DIPERTIMBANGKAN + Junior_DITOLAK
# print(TotalCiri_Junior)

In [294]:
# Mencari Ciri Supervisor Per Kelas
Supervisor_DITERIMA = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Supervisor", "DITERIMA")
Supervisor_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Supervisor", "DIPERTIMBANGKAN")
Supervisor_DITOLAK = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Supervisor", "DITOLAK")
TotalCiri_Supervisor = Supervisor_DITERIMA + Supervisor_DIPERTIMBANGKAN + Supervisor_DITOLAK

# print(Supervisor_DITERIMA," === ",Supervisor_DIPERTIMBANGKAN," === ",Supervisor_DITOLAK," === ", TotalCiri_Supervisor)

In [295]:
# Mencari Ciri Senior Per Kelas
Senior_DITERIMA = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Senior", "DITERIMA")
Senior_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Senior", "DIPERTIMBANGKAN")
Senior_DITOLAK = CiriperKelas(dataAfterClassify['PengalamanKerja'], dataAfterClassify['HasilEvaluasi'], "Senior", "DITOLAK")
TotalCiri_Senior = Senior_DITERIMA + Senior_DIPERTIMBANGKAN + Senior_DITOLAK

# print(Senior_DITERIMA," === ",Senior_DIPERTIMBANGKAN," === ",Senior_DITOLAK," === ", TotalCiri_Senior)

In [296]:
# Mencari PX
PX_Junior = Prob(TotalCiri_Junior)
PX_Supervisor = Prob(TotalCiri_Supervisor)
PX_Senior = Prob(TotalCiri_Senior)

In [297]:
# PXH pENGALAMAN KERJA
PXH_Junior_DITERIMA = PXH(Junior_DITERIMA, Total_DITERIMA)
PXH_Junior_DIPERTIMBANGKAN = PXH(Junior_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Junior_DITOLAK = PXH(Junior_DITOLAK, Total_DITOLAK)
PXH_Supervisor_DITERIMA = PXH(Supervisor_DITERIMA, Total_DITERIMA)
PXH_Supervisor_DIPERTIMBANGKAN = PXH (Supervisor_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Supervisor_DITOLAK = PXH(Supervisor_DITOLAK, Total_DITOLAK)
PXH_Senior_DITERIMA = PXH(Senior_DITERIMA, Total_DITERIMA)
PXH_Senior_DIPERTIMBANGKAN = PXH (Senior_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Senior_DITOLAK = PXH(Senior_DITOLAK, Total_DITOLAK)

# test = [PXH_Junior_DITERIMA, PXH_Junior_DIPERTIMBANGKAN, PXH_Junior_DITOLAK, PXH_Supervisor_DITERIMA, PXH_Supervisor_DIPERTIMBANGKAN, PXH_Supervisor_DITOLAK, PXH_Senior_DITERIMA, PXH_Senior_DIPERTIMBANGKAN, PXH_Senior_DITOLAK]
# print(test)

In [298]:
# -- USIA --

In [299]:
# Mencari Tua Per Kelas
Tua_DITERIMA = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Tua", "DITERIMA")
Tua_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Tua", "DIPERTIMBANGKAN")
Tua_DITOLAK = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Tua", "DITOLAK")
TotalCiri_Tua = Tua_DITERIMA + Tua_DIPERTIMBANGKAN + Tua_DITOLAK

In [300]:
# Mencari Parubaya Per Kelas
Paruhbaya_DITERIMA =  CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Paruhbaya", "DITERIMA")
Paruhbaya_DIPERTIMBANGKAN  = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Paruhbaya", "DIPERTIMBANGKAN")
Paruhbaya_DITOLAK  = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Paruhbaya", "DITOLAK ")
TotalCiri_Paruhbaya = Paruhbaya_DITERIMA + Paruhbaya_DIPERTIMBANGKAN + Paruhbaya_DITOLAK

In [301]:
# Mencari Muda Per Kelas
Muda_DITERIMA = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Muda", "DITERIMA")
Muda_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Muda", "DIPERTIMBANGKAN")
Muda_DITOLAK = CiriperKelas(dataAfterClassify['Usia'],dataAfterClassify['HasilEvaluasi'],"Muda", "DITOLAK")
TotalCiri_Muda = Muda_DITERIMA + Muda_DIPERTIMBANGKAN + Muda_DITOLAK

In [302]:
# Mencari Total Kelas Usia
Total_DITERIMA_Usia =  Tua_DITERIMA + Paruhbaya_DITERIMA + Muda_DITERIMA
Total_DIPERTIMBANGKAN_Usia = Tua_DIPERTIMBANGKAN + Paruhbaya_DIPERTIMBANGKAN + Muda_DIPERTIMBANGKAN
Total_DITOLAK_Usia = Tua_DITOLAK + Paruhbaya_DITOLAK + Muda_DITOLAK

In [303]:
# Mencari PX Usia
PX_Tua = Prob(TotalCiri_Tua)
PX_Paruhbaya = Prob(TotalCiri_Paruhbaya)
PX_Muda = Prob(TotalCiri_Muda)

In [304]:
# PXH Usia
PXH_Tua_DITERIMA = PXH(Tua_DITERIMA, Total_DITERIMA)
PXH_Tua_DIPERTIMBANGKAN = PXH(Tua_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tua_DITOLAK = PXH(Tua_DITOLAK, Total_DITOLAK)
PXH_Paruhbaya_DITERIMA = PXH(Paruhbaya_DITERIMA, Total_DITERIMA)
PXH_Paruhbaya_DIPERTIMBANGKAN = PXH (Paruhbaya_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Paruhbaya_DITOLAK = PXH(Paruhbaya_DITOLAK, Total_DITOLAK)
PXH_Muda_DITERIMA = PXH(Muda_DITERIMA, Total_DITERIMA)
PXH_Muda_DIPERTIMBANGKAN = PXH (Muda_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Muda_DITOLAK = PXH(Muda_DITOLAK, Total_DITOLAK)

# test = [PXH_Tua_DITERIMA, PXH_Tua_DIPERTIMBANGKAN, PXH_Tua_DITOLAK, PXH_Paruhbaya_DITERIMA, PXH_Paruhbaya_DIPERTIMBANGKAN, PXH_Paruhbaya_DITOLAK, PXH_Muda_DITERIMA, PXH_Muda_DIPERTIMBANGKAN, PXH_Muda_DITOLAK]
# print(test)

In [305]:
# NilaiPelatihan

In [306]:
# Mencari NilaiTes1 Kurang Per Kelas
Tes1_Kurang_DITERIMA = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Kurang", "DITERIMA")
Tes1_Kurang_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Kurang", "DIPERTIMBANGKAN")
Tes1_Kurang_DITOLAK = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Kurang", "DITOLAK")
TotalCiri_Tes1_Kurang = Tes1_Kurang_DITERIMA + Tes1_Kurang_DIPERTIMBANGKAN + Tes1_Kurang_DITOLAK
# print(TotalCiri_Kurang)

In [307]:
# Mencari NilaiTes1 Baik Per Kelas
Tes1_Baik_DITERIMA = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Baik", "DITERIMA")
Tes1_Baik_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Baik", "DIPERTIMBANGKAN")
Tes1_Baik_DITOLAK = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Baik", "DITOLAK")
TotalCiri_Tes1_Baik = Tes1_Baik_DITERIMA + Tes1_Baik_DIPERTIMBANGKAN + Tes1_Baik_DITOLAK
# print(TotalCiri_Tes1_Baik)

In [308]:
# Mencari NilaiTes1 Tes1_SangatBaik Per Kelas
Tes1_SangatBaik_DITERIMA = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Sangat Baik", "DITERIMA")
Tes1_SangatBaik_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Sangat Baik", "DIPERTIMBANGKAN")
Tes1_SangatBaik_DITOLAK = CiriperKelas(dataAfterClassify['NilaiTes1'],dataAfterClassify['HasilEvaluasi'],"Sangat Baik", "DITOLAK")
TotalCiri_Tes1_SangatBaik = Tes1_SangatBaik_DITERIMA + Tes1_SangatBaik_DIPERTIMBANGKAN + Tes1_SangatBaik_DITOLAK
# print(TotalCiri_Tes1_SangatBaik)

In [309]:
# Mencari PX NilaiTes1
PX_Kurang = Prob(TotalCiri_Tes1_Kurang)
PX_Baik = Prob(TotalCiri_Tes1_Baik)
PX_SangatBaik = Prob(TotalCiri_Tes1_SangatBaik)

In [310]:
# PXH NilaiTes1
PXH_Tes1_Kurang_DITERIMA = PXH(Tes1_Kurang_DITERIMA, Total_DITERIMA)
PXH_Tes1_Kurang_DIPERTIMBANGKAN = PXH(Tes1_Kurang_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tes1_Kurang_DITOLAK = PXH(Tes1_Kurang_DITOLAK, Total_DITOLAK)
PXH_Tes1_Baik_DITERIMA = PXH(Tes1_Baik_DITERIMA, Total_DITERIMA)
PXH_Tes1_Baik_DIPERTIMBANGKAN = PXH (Tes1_Baik_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tes1_Baik_DITOLAK = PXH(Tes1_Baik_DITOLAK, Total_DITOLAK)
PXH_Tes1_SangatBaik_DITERIMA = PXH(Tes1_SangatBaik_DITERIMA, Total_DITERIMA)
PXH_Tes1_SangatBaik_DIPERTIMBANGKAN = PXH (Tes1_SangatBaik_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tes1_SangatBaik_DITOLAK = PXH(Tes1_SangatBaik_DITOLAK, Total_DITOLAK)

# test = [PXH_Tes1_Kurang_DITERIMA, PXH_Tes1_Kurang_DIPERTIMBANGKAN, PXH_Tes1_Kurang_DITOLAK, PXH_Tes1_Baik_DITERIMA, PXH_Tes1_Baik_DIPERTIMBANGKAN, PXH_Tes1_Baik_DITOLAK, PXH_Tes1_SangatBaik_DITERIMA, PXH_Tes1_SangatBaik_DIPERTIMBANGKAN, PXH_Tes1_SangatBaik_DITOLAK]
# print(test)

In [311]:
# NilaiKinerja

In [312]:
# Mencari NilaiTes2 Kurang Per Kelas
Tes2_Kurang_DITERIMA = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Kurang", "DITERIMA")
Tes2_Kurang_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Kurang", "DIPERTIMBANGKAN")
Tes2_Kurang_DITOLAK = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Kurang", "DITOLAK")
TotalCiri_Tes2_Kurang = Tes2_Kurang_DITERIMA + Tes2_Kurang_DIPERTIMBANGKAN + Tes2_Kurang_DITOLAK
# print(TotalCiri_Kurang)

In [313]:
# Mencari NilaiTes2 Baik Per Kelas
Tes2_Baik_DITERIMA = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Baik", "DITERIMA")
Tes2_Baik_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Baik", "DIPERTIMBANGKAN")
Tes2_Baik_DITOLAK = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Baik", "DITOLAK")
TotalCiri_Tes2_Baik = Tes2_Baik_DITERIMA + Tes2_Baik_DIPERTIMBANGKAN + Tes2_Baik_DITOLAK
# print(TotalCiri_Tes2_Baik)

In [314]:
# Mencari NilaiTes2 SangatBaik Per Kelas
Tes2_SangatBaik_DITERIMA = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Sangat Baik", "DITERIMA")
Tes2_SangatBaik_DIPERTIMBANGKAN = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Sangat Baik", "DIPERTIMBANGKAN")
Tes2_SangatBaik_DITOLAK = CiriperKelas(dataAfterClassify['NilaiTes2'],dataAfterClassify['HasilEvaluasi'],"Sangat Baik", "DITOLAK")
TotalCiri_Tes2_SangatBaik = Tes2_SangatBaik_DITERIMA + Tes2_SangatBaik_DIPERTIMBANGKAN + Tes2_SangatBaik_DITOLAK
# print(TotalCiri_Tes2_SangatBaik)

In [315]:
# Mencari PX NilaiTes2
PX_Tes2_Kurang = Prob(TotalCiri_Tes2_Kurang)
PX_Tes2_Baik = Prob(TotalCiri_Tes2_Baik)
PX_Tes2_SangatBaik = Prob(TotalCiri_Tes2_SangatBaik)

In [316]:
# PXH NilaiTes2
PXH_Tes2_Kurang_DITERIMA = PXH(Tes2_Kurang_DITERIMA, Total_DITERIMA)
PXH_Tes2_Kurang_DIPERTIMBANGKAN = PXH(Tes2_Kurang_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tes2_Kurang_DITOLAK = PXH(Tes2_Kurang_DITOLAK, Total_DITOLAK)
PXH_Tes2_Baik_DITERIMA = PXH(Tes2_Baik_DITERIMA, Total_DITERIMA)
PXH_Tes2_Baik_DIPERTIMBANGKAN = PXH (Tes2_Baik_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tes2_Baik_DITOLAK = PXH(Tes2_Baik_DITOLAK, Total_DITOLAK)
PXH_Tes2_SangatBaik_DITERIMA = PXH(Tes2_SangatBaik_DITERIMA, Total_DITERIMA)
PXH_Tes2_SangatBaik_DIPERTIMBANGKAN = PXH (Tes2_SangatBaik_DIPERTIMBANGKAN, Total_DIPERTIMBANGKAN)
PXH_Tes2_SangatBaik_DITOLAK = PXH(Tes2_SangatBaik_DITOLAK, Total_DITOLAK)

In [317]:
# Import Data Latih
csvpathtraining = "datalatih2.csv"
datalatih = pandas.read_csv(csvpathtraining)
datalatih

,Nama,PengalamanKerja,Usia,NilaiTes1,NilaiTes2,HasilEvaluasi
0,Olva Scamp,9,38,100,87,NaN
1,Kimble Palister,27,55,95,71,NaN
2,Nerta Corain,7,32,54,45,NaN
3,Wandis Roberti,13,46,67,50,NaN
4,Lissy Dods,28,46,59,85,NaN
...,...,...,...,...,...,...
95,Lodovico Burgill,17,50,79,87,NaN
96,Georgie Sember,14,26,70,50,NaN
97,Francyne Ianiello,14,45,59,91,NaN
98,Shirline Courtes,30,45,71,91,NaN
99,Francyne Noseworthy,20,50,87,95,NaN

In [318]:
# Klasifikasi Data Latih
PengalamanKerjaLatih = getClassifyPengalamanKerja(datalatih['PengalamanKerja'])
UsiaLatih = getClassifyUsia(datalatih['Usia'])
NilaiTes1Latih = getClassifyNilaiTes1(datalatih['NilaiTes1'])
NilaiTes2Latih = getClassifyNilaiTes2(datalatih['NilaiTes2'])

In [319]:
# Add Classified Data Latih Frame

dataLatihAfterClassify = pandas.DataFrame({  'Nama': datalatih['Nama'],
                                        'PengalamanKerja': PengalamanKerjaLatih,
                                        'Usia': UsiaLatih,
                                        'NilaiTes1': NilaiTes1Latih,
                                        'NilaiTes2': NilaiTes2Latih,
                                        'HasilEvaluasi': datalatih['HasilEvaluasi']
                                    })
dataLatihAfterClassify

,Nama,PengalamanKerja,Usia,NilaiTes1,NilaiTes2,HasilEvaluasi
0,Olva Scamp,Junior,Paruhbaya,Sangat Baik,Sangat Baik,NaN
1,Kimble Palister,Senior,Tua,Sangat Baik,Baik,NaN
2,Nerta Corain,Junior,Muda,Kurang,Kurang,NaN
3,Wandis Roberti,Supervisor,Tua,Baik,Kurang,NaN
4,Lissy Dods,Senior,Tua,Kurang,Sangat Baik,NaN
...,...,...,...,...,...,...
95,Lodovico Burgill,Supervisor,Tua,Baik,Sangat Baik,NaN
96,Georgie Sember,Supervisor,Muda,Baik,Kurang,NaN
97,Francyne Ianiello,Supervisor,Paruhbaya,Kurang,Sangat Baik,NaN
98,Shirline Courtes,Senior,Paruhbaya,Baik,Sangat Baik,NaN
99,Francyne Noseworthy,Supervisor,Tua,Sangat Baik,Sangat Baik,NaN

In [320]:
# Find P(X|H)

In [321]:
# cek Ciri Masa Kerja
def CiriPengalamanKerjaDITERIMA(PengalamanKerja):
    PXH = 0
    if PengalamanKerja == "Junior":
        PXH = PXH_Junior_DITERIMA
    if PengalamanKerja == "Supervisor":
        PXH = PXH_Supervisor_DITERIMA
    if PengalamanKerja == "Senior":
        PXH = PXH_Senior_DITERIMA
    return PXH
def CiriPengalamanKerjaDIPERTIMBANGKAN(PengalamanKerja):
    PXH = 0
    if PengalamanKerja == "Junior":
        PXH = PXH_Junior_DIPERTIMBANGKAN
    if PengalamanKerja == "Supervisor":
        PXH = PXH_Supervisor_DIPERTIMBANGKAN
    if PengalamanKerja == "Senior":
        PXH = PXH_Senior_DIPERTIMBANGKAN
    return PXH
def CiriPengalamanKerjaDITOLAK(PengalamanKerja):
    PXH = 0
    if PengalamanKerja == "Junior":
        PXH = PXH_Junior_DITOLAK
    if PengalamanKerja == "Supervisor":
        PXH = PXH_Supervisor_DITOLAK
    if PengalamanKerja == "Senior":
        PXH = PXH_Senior_DITOLAK
    return PXH

In [322]:
# cek Ciri Usia
def CiriUsiaDITERIMA(Usia):
    PXH = 0
    if Usia == "Tua":
        PXH = PXH_Tua_DITERIMA
    if Usia == "Paruhbaya":
        PXH = PXH_Paruhbaya_DITERIMA
    if Usia == "Muda":
        PXH = PXH_Muda_DITERIMA
    return PXH
def CiriUsiaDIPERTIMBANGKAN(Usia):
    PXH = 0
    if Usia == "Tua":
        PXH = PXH_Tua_DIPERTIMBANGKAN
    if Usia == "Paruhbaya":
        PXH = PXH_Paruhbaya_DIPERTIMBANGKAN
    if Usia == "Muda":
        PXH = PXH_Muda_DIPERTIMBANGKAN
    return PXH
def CiriUsiaDITOLAK(Usia):
    PXH = 0
    if Usia == "Tua":
        PXH = PXH_Tua_DITOLAK
    if Usia == "Paruhbaya":
        PXH = PXH_Paruhbaya_DITOLAK
    if Usia == "Muda":
        PXH = PXH_Muda_DITOLAK
    return PXH

In [323]:
# cek Ciri NilaiTes1
def CiriNilaiTes1DITERIMA(NilaiTes1):
    PXH = 0
    if NilaiTes1 == "Kurang":
        PXH = PXH_Tes1_Kurang_DITERIMA
    if NilaiTes1 == "Baik":
        PXH = PXH_Tes1_Baik_DITERIMA
    if NilaiTes1 == "Sangat Baik":
        PXH = PXH_Tes1_SangatBaik_DITERIMA
    return PXH
def CiriNilaiTes1DIPERTIMBANGKAN(NilaiTes1):
    PXH = 0
    if NilaiTes1 == "Kurang":
        PXH = PXH_Tes1_Kurang_DIPERTIMBANGKAN
    if NilaiTes1 == "Baik":
        PXH = PXH_Tes1_Baik_DIPERTIMBANGKAN
    if NilaiTes1 == "Sangat Baik":
        PXH = PXH_Tes1_SangatBaik_DIPERTIMBANGKAN
    return PXH
def CiriNilaiTes1DITOLAK(NilaiTes1):
    PXH = 0
    if NilaiTes1 == "Kurang":
        PXH = PXH_Tes1_Kurang_DITOLAK
    if NilaiTes1 == "Baik":
        PXH = PXH_Tes1_Baik_DITOLAK
    if NilaiTes1 == "Sangat Baik":
        PXH = PXH_Tes1_SangatBaik_DITOLAK
    return PXH

In [324]:
# cek Ciri NilaiTes2
def CiriNilaiTes2DITERIMA(NilaiTes2):
    PXH = 0
    if NilaiTes2 == "Kurang":
        PXH = PXH_Tes2_Kurang_DITERIMA
    if NilaiTes2 == "Baik":
        PXH = PXH_Tes2_Baik_DITERIMA
    if NilaiTes2 == "Sangat Baik":
        PXH = PXH_Tes2_SangatBaik_DITERIMA
    return PXH
def CiriNilaiTes2DIPERTIMBANGKAN(NilaiTes2):
    PXH = 0
    if NilaiTes2 == "Kurang":
        PXH = PXH_Tes2_Kurang_DIPERTIMBANGKAN
    if NilaiTes2 == "Baik":
        PXH = PXH_Tes2_Baik_DIPERTIMBANGKAN
    if NilaiTes2 == "Sangat Baik":
        PXH = PXH_Tes2_SangatBaik_DIPERTIMBANGKAN
    return PXH
def CiriNilaiTes2DITOLAK(NilaiTes2):
    PXH = 0
    if NilaiTes2 == "Kurang":
        PXH = PXH_Tes2_Kurang_DITOLAK
    if NilaiTes2 == "Baik":
        PXH = PXH_Tes2_Baik_DITOLAK
    if NilaiTes2 == "Sangat Baik":
        PXH = PXH_Tes2_SangatBaik_DITOLAK
    return PXH

In [325]:
# Mencari P(X|H) Total
def PXH_Total(PXH_Peneri, PXH_Usia, PXH_NilaiPelatihan, PXH_NilaiKinerja):
    PXH_Total = PXH_Peneri * PXH_Usia * PXH_NilaiPelatihan * PXH_NilaiKinerja
    return float("{:.8f}".format(PXH_Total))

In [326]:
# Find P(X)

In [327]:
# cek PX Pada Ciri
def PXPengalamanKerja(PengalamanKerja):
    PX = 0
    if PengalamanKerja == "Junior":
        PX = PX_Junior
    else:
        if PengalamanKerja == "Supervisor":
            PX = PX_Supervisor
        else:
            if PengalamanKerja == "Senior":
                PX = PX_Senior
    return PX
def PXUsia(Usia):
    PX = 0
    if Usia == "Tua":
        PX = PX_Tua
    if Usia == "Paruhbaya":
        PX = PX_Paruhbaya
    if Usia == "Muda":
        PX = PX_Muda
    return PX
def PXNilaiTes1(NilaiTes1):
    PX = 0
    if NilaiTes1 == "Kurang":
        PX = PX_Kurang
    if NilaiTes1 == "Baik":
        PX = PX_Baik
    if NilaiTes1 == "Sangat Baik":
        PX = PX_SangatBaik
    return PX
def PXNilaiTes2(NilaiTes2):
    PX = 0
    if NilaiTes2 == "Kurang":
        PX = PX_Tes2_Kurang
    if NilaiTes2 == "Baik":
        PX = PX_Tes2_Baik
    if NilaiTes2 == "Sangat Baik":
        PX = PX_Tes2_SangatBaik
    return PX

In [328]:
# Mencari PX Total
def PX_Total(PXPengalamanKerja,PXUsia,PXNilaiTes1,PXNilaiTes2):
    total = PXPengalamanKerja * PXUsia * PXNilaiTes1 * PXNilaiTes2
    return float("{:.15f}".format(total))

In [329]:
# Mencari P(H|X) Function
def PHX(PXH, PH, PX):
    PHX = (PXH * PH) / PX
    return float("{:.8f}".format(PHX))

In [344]:
# Mencari Hasil Evaluasi
def getHasilEvaluasi(PHX_DITERIMA, PHX_DIPERTIMBANGKAN, PHX_DITOLAK):
    Diterima = PHX_DITERIMA
    Dipertimbangkan = PHX_DIPERTIMBANGKAN
    Ditolak = PHX_DITOLAK
    HasilEvaluasi = ""
    if Diterima > Ditolak:
        if Diterima > Dipertimbangkan:
            HasilEvaluasi = "DITERIMA"
        else:
            HasilEvaluasi = "DIPERTIMBANGKAN"
    else:
        if Dipertimbangkan > Ditolak:
            HasilEvaluasi = "DIPERTIMBANGKAN"
        else:
            HasilEvaluasi = "DITOLAK"
    return HasilEvaluasi

In [346]:
# Main Function
def Main(data):  
    dataFinal = pandas.DataFrame({  'Nama': datalatih['Nama'],
                                    'PengalamanKerja': PengalamanKerjaLatih,
                                    'Usia': UsiaLatih,
                                    'NilaiTes1': NilaiTes1Latih,
                                    'NilaiTes2': NilaiTes2Latih,
                                    'HasilEvaluasi': data
                                })
    return dataFinal.style.hide(axis='index')
# Data Final Dengan Kuantitaif dan Kualitatif
def AllMain(data):
    dataFinal = pandas.DataFrame({  'Nama': datalatih['Nama'],
                                    'PengalamanKerja(Tahun)': datalatih['PengalamanKerja'],
                                    'PengalamanKerja': PengalamanKerjaLatih,
                                    'Usia(Tahun)': datalatih['Usia'],
                                    'Usia': UsiaLatih,
                                    'NilaiTes1(Angka)': datalatih['NilaiTes1'],
                                    'NilaiTes1': NilaiTes1Latih,
                                    'NilaiTes2(Angka)': datalatih["NilaiTes2"],
                                    'NilaiTes2': NilaiTes2Latih,
                                    'HasilEvaluasi': data
                                })
    return dataFinal.style.hide(axis='index')

In [347]:
# Call All Process
Main(NaiveBaiyes())

In [348]:
# Call All Process With All Data

AllMain(NaiveBaiyes())